[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-smorest = "*"
marshmallow = "*"
flask-migrate = "*"
python-dotenv = "*"
flask-jwt-extended = "*"
flask-login = "*"
mysql-connector-python = "*"
sqlalchemy = "*"
bcrypt = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.12"
